body {
  margin: 0;
}

.cy {
  display: block;
  /*
    Background
  */
  background: linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%);
  background-size: 100px 100px;
}

#cy {
  width: 100vw;
  height: 85vh;
}

.modal-cy {
  width: inherit;
  height: 75vh;
}

div#input-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

div#input-container > * {
  margin: 0 auto;
}
